body {
    background-color: rgb(255, 246, 247);
    font-family: 'Courier New', Courier, monospace ;
    color: rgb(136, 75, 83);
}
h1 {
    text-align: center;
}

.title-text {
    text-decoration:underline;
}

div {
    
}
.recipe-container {
    display: flex;
    margin: auto;
    padding: 5px;
    background-color: rgb(253, 239, 241);
    border: 1px solid rgb(255, 230, 233);
}
.recipe-box {
    box-sizing: border-box;
    display:inline-block;
    padding: 8px;
    margin: 2px;
    text-align: center;
    background-color: rgb(253, 239, 241);
    border: 1px solid rgb(248, 216, 220);
    width: 25%
}

.recipe-text a{
    font-family: 'Courier New', Courier, monospace ;
    font-weight: bold;
    color: rgb(136, 75, 83);
}

.recipe-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer hr{
    margin-top: 10px;
    border: .25px solid rgb(248, 216, 220);
    width: 75%;

}

.footer p {
    text-align: center;
    font-size: small;
}